<a href="artist-profs/<%= post.artist %>">@<%= post.artist %></a>
<img src="<%= post.content[0].image.data %>"><br><br>
<h3><%= post.caption %></h3>
<p><%= post.tags.join(', ') %></p>
<% if (user) { %>
    <% if (!post.likedBy.includes(user._id)) { %>
        <form action="/posts/<%= post._id %>/like?_method=PUT" method="POST">
            <button type="submit">Like</button>
        </form>
        <% } else { %>
        <form action="/posts/<%= post._id %>/like?_method=PUT" method="POST">
            <button type="submit">Unlike</button>
        </form>
    <% } %>
<% } %>