<%- include('../partials/header') %>

<h2>All Posts</h2>

<% posts.forEach(post => { %>
    <img src="data:img/png;base64,<%= post.content[0].image.data.toString('base64') %>"<br><br>
    <a href="/posts/<%= post._id %>/edit">Edit Post</a>
    <h3><%= post.caption %></h3>
    <p><%= post.tags.join(', ') %></p>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE POST</button>
    </form>
<% }); %>

<%- include('../partials/footer') %>