<%- include('../partials/header') %>

<section class="hero has-background-grey-lighter is-small">
    <div class="hero-body mt-2">
      <p class="title has-text-centered">
        My Posts
      </p>
    </div>
</section>

<div class="my-container">
    <% posts.forEach(post => { %>
        <div class="box">
            <div class="card">
                <%- include('../partials/post', {post}) %>
                <footer class="card-footer">
                    <a href="/posts/<%= post._id %>/edit" class="card-footer-item edt-btn has-background-link-light">Edit</a>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="button card-footer-item del-btn has-text-danger-light has-background-danger-dark">Delete</button>
                    </form>
                </footer>
            </div>
        </div>
    <% }); %>
</div>

<%- include('../partials/footer') %>